
body{
	background-image: url("giphy.gif");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: Pink;
	height: 100%;
}

h1{
	text-align: center;
	border-style: solid;
	border-color: pink;
	border-radius: 5px;
	border-width: 8px;
	width: 50%;
	margin: auto;
}
